# Decision-tree-demo

In [1]:
%reload_ext autoreload
%autoreload 2
%matplotlib inline

In [2]:
pip install graphviz

Requirement already satisfied: graphviz in c:\users\math8\anaconda3\envs\seoul-bicycle\lib\site-packages (0.17)
Note: you may need to restart the kernel to use updated packages.

In [3]:
import graphviz
from matplotlib import pyplot as plt
from matplotlib import rcParams
import numpy as np
from pathlib import Path
import pandas as pd
from sklearn.tree import DecisionTreeClassifier, export_graphviz
from sklearn.metrics import accuracy_score
from sklearn.model_selection import KFold
import warnings

In [4]:
rcParams['figure.figsize'] = (16, 8)
plt.style.use('fivethirtyeight')
pd.set_option('max_columns', 100)
pd.set_option("display.precision", 4)
warnings.simplefilter('ignore')

## 데이터 로드

In [18]:
data_dir = Path('C:\DACON\dataset')
sub_dir = Path('C:\DACON\build')

trn_file = data_dir / 'train.csv'
tst_file = data_dir / 'test.csv'
sample_file = data_dir / 'submission.csv'

target_col = 'count'
seed = 12

In [6]:
algo_name = 'dt'
feature_name = 'j1'
model_name = f'{algo_name}_{feature_name}'

sub_file = sub_dir / f'{model_name}.csv'

In [48]:
trn = pd.read_csv(trn_file, index_col=0)
tst = pd.read_csv(tst_file, index_col=0)

# drop nan (added)
trn = trn.dropna(axis=0)
tst = tst.dropna(axis=0)

y = trn[target_col]
trn.drop(target_col, axis=1, inplace=True)
print(y.shape, trn.shape, tst.shape)
trn.head()

(1328,) (1328, 9) (674, 9)

,hour,hour_bef_temperature,hour_bef_precipitation,hour_bef_windspeed,hour_bef_humidity,hour_bef_visibility,hour_bef_ozone,hour_bef_pm10,hour_bef_pm2.5
id,,,,,,,,,
3,20,16.3,1.0,1.5,89.0,576.0,0.027,76.0,33.0
6,13,20.1,0.0,1.4,48.0,916.0,0.042,73.0,40.0
7,6,13.9,0.0,0.7,79.0,1382.0,0.033,32.0,19.0
8,23,8.1,0.0,2.7,54.0,946.0,0.040,75.0,64.0
9,18,29.5,0.0,4.8,7.0,2000.0,0.057,27.0,11.0

## 결정트리 학습

In [28]:
clf = DecisionTreeClassifier(max_depth=5, min_samples_leaf=10, random_state=seed)
# min_samples_leaf : 리프노드가 되기 위해 필요한 최소한의 샘플 데이터수 (과적합 제어)
clf.fit(trn, y)

DecisionTreeClassifier(max_depth=5, min_samples_leaf=10, random_state=12)

In [29]:
print(f'{accuracy_score(y, clf.predict(trn)) * 100:.4f}%')

7.6807%

## 결정트리 시각화

In [ ]:
# dot_data = export_graphviz(clf, out_file=None,
#                            feature_names=trn.columns,
#                            filled=True,
#                            rounded=True,
#                            special_characters=True)  
# graph = graphviz.Source(dot_data)  
# graph

## 시험데이터 예측

In [ ]:
sub = pd.read_csv(sample_file, index_col=0)
print(sub.shape)
sub.head()

(715, 1)

    count
id
0     NaN
1     NaN
2     NaN
4     NaN
5     NaN

In [50]:
pred = pd.DataFrame({'count': clf.predict(tst)})
pred.head()

   count
0   19.0
1  214.0
2  134.0
3   19.0
4    1.0

위에서 dropna로 NaN 있는 test의 row를 모두 제거
submission 파일과 row 개수가 다른(index도 차이) 문제 발생